# Flutter
.dart_tool/
.packages
build/
*.iml

# Android
android/.gradle/
android/app/build/
android/local.properties
*.apk
*.aab

# iOS
ios/Pods/
ios/.symlinks/

# IDE
.idea/
.vscode/
*.swp

# Keys
key.properties
*.jks
*.keystore

# Misc
.env
*.log
